{% include 'partials/head.html' %}



<body>
    <header class="main-header-container">
        <div class="main-header container">
        </div>
    </header>
    <h1>titulo h1</h1>
    <h2>{{name}}</h2>
    <h2>{{idade}}</h2>
    <h2>{{sexo}}</h2>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Accusantium sapiente sint dolor dolorem hic quis
        assumenda voluptates in iusto doloremque? Aut repudiandae vel porro, minus labore quas quibusdam minima
        amet.
    </p>
</body>

</html>