{% include 'recipes/partials/head.html' %}



<body>
    <header class="main-header-container">
        <h1>titulo h1</h1>
        <div class="main-header container">
            <h1>Recepis</h1>
        </div>
    </header>
        <div class="body-primary">

            <p>ola meu nome é {{name}}</p>
            <p>minha idade é {{idade}}</p>
            <span>Sou formado em {{profissao}}</span>

            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Accusantium sapiente sint dolor dolorem hic
                quis
                assumenda voluptates in iusto doloremque? Aut repudiandae vel porro, minus labore quas quibusdam minima
                amet.
            </p>
        </div>
</body>

</html>